{% extends 'base.html' %}
{% block content %}
    <div class="login">
        <div class="login-screen">
            <div>
                <h1>Register for Calorie Tracker</h1>
            </div>
            <form method="POST" action="" class="login-form">
              {% csrf_token %}
                <div >
                {{ form.username }}
                </div>
                <p></p>
                <div >
                {{ form.email}}
                </div>
                <p></p>   
                 <div >
                {{ form.password1 }}
                </div> 
                <p></p>
                 <div >
                {{ form.password2 }}
                </div> 
                <p></p>
                <input  type="submit" name="Register">
            </form>
            {{ form.errors }}
            <p></p>
            <p></p>
            <div>
            If you already have an account - <a href="{% url 'login' %}" class="ml-4">Login</a>
          </div>
        </div>
    </div>
    <script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Username..';
    form_fields[2].placeholder='Email..';
    form_fields[3].placeholder='Enter password...';
    form_fields[4].placeholder='Re-enter Password...';
    for (var field in form_fields){ 
      form_fields[field].className += ' form-control'
    }
  </script>
{% endblock content %}